*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

h2{
    text-align: center;
    color: #0780eb;
    font-weight: 700;
    font-size: 2rem;
}

#home:hover {
    cursor: pointer;

}
.content {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid gainsboro;
    height: 8rem;
    }

header .categories{
    position: relative;
    background-color: white;
    top: 10rem;
    width: 15rem;
    left: 12rem;
    padding: 2rem;
    z-index: 1;
    box-sizing: border-box;
}

.categories p:hover{
    color: #0780eb;
    font-weight: 700;
}

header .right-header{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    align-items: center;
}

header i{
    font-size: 2.5rem;
    color: #0780eb;
}



header .count{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #0780eb;
    color: white;
    padding: 0 0.2rem;
    text-align: center;
    font-size: 1.3rem;
}

main .content-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 35rem;
    height: 32rem;
    border: 1px solid #f1f1f1;
    border-radius: .2rem;
    position: relative;
    margin-bottom: 2rem;
}

.card .infoCard img{
    width: 9rem;
    height: 10rem;
    object-fit: contain;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.infoCard h2{
    font-size: 1.7rem;
    color: black;
}

.infoCard h2:hover{
    color: #0780eb;
    cursor:pointer;
}

.infoCard p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    
}

.btn{
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 3rem;
    padding: .8rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #0780eb;
    border: none;
    border-radius: .5rem;
    color: white;
}


/*Tablet*/
@media (min-width: 768px){
    header .fa-bars{
        display: none;
    }

    header .categories{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 42rem;
        font-size: 1.4rem;
        position: inherit;
        background: transparent;
    }

    main .content-card{
        display: grid;
        grid-template-columns:repeat(3, minmax(0,1fr));
        gap: 10px;
    }
    .content-card .card{
        width: 26rem;
    }
}


/*COMPUTADORA*/
@media (min-width:1024px) {
    main .content-card{
        grid-template-columns:repeat(4, minmax(0,1fr));
        gap: 15px;
    }
    .content-card .card{
        width: 29rem;
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0 / .3);
}

.modal .moreInfo{
    max-width: 35rem;
    height: 35rem;
    background-color: white;
    margin: 0 auto;
    padding: 3rem 2.5rem;
    transform: translateY(-30rem);
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    opacity: 1;
}

.modal .animated{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.moreInfo .closed{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.5rem;
}

.moreInfo p{
    font-size: 1.5rem;
    height: 8rem;
    width: 30rem;
    overflow-y: scroll;
    padding: 2rem;
}

.moreInfo .closed:hover{
    cursor: pointer;
}

.moreInfo img{
    position: relative;
    width: 7rem;
    left: 50%;
    transform: translate(-50%,0);
}

.modal .close{
    transform: translateY(-200%);
    opacity: 0;
}

header .cart-shopping{
    position: relative;
}

.cart-shopping .listShopping{
    position: absolute;
    width: 35rem;
    padding: 2rem;
    right: -20px;
    background-color: white;
    z-index: 1;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.listShopping .contentProductList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contentProductList img{
    width: 3rem;
    margin-right: 1rem;
}

.contentProductList h3{
    font-size: 1.4rem;
}

.contentProductList span{
    margin-left: 2rem;

}

.contentProductList span:hover{
    cursor: pointer;
}

.listShopping .total{
    display: flex;
    width: 95%;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 222, 222);
}

.listShopping .btn{
    position: initial;
    margin-top: 2rem;
    transform: none;
}

.inactive{
    display: none;
}